{% extends 'base.html' %}

{% block title %}
<title>Post_list</title>
{% endblock %}

{% block content %}
{% for post in posts %}
<div class="card mb-3">
    <div class="card-body">
        <!-- /를 붙이지 않으면 현재 URL 뒤에 추가가 되고, 붙이면 절대 경로 뒤에 추가가 됨 -->
        <h5 class="card-title"><a href="{% url 'url-name-post-detail' pk=post.pk %}">{{ post.title }}</a></h5>
        <!-- 줄바꿈 및 최대출력 글자 설정 -->
        <p class="card-text">{{ post.text|linebreaksbr|truncatechars:250 }}</p>
        <div class="text-right">
            <span>created) {{ post.created_date }}</span>
        </div>
        <div class="text-right">
            <span>published) {{ post.published_date }}</span>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}